<h2>Instructors</h2>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Instructor</th>
      <th>Bio</th>
      <th>Class Schedule</th>
    </tr>
  </thead>

  <tbody>
    <% @instructors.each do |instructor| %>
    <tr>
      <td><%= link_to instructor.name, instructor_path(instructor) %></td>
      <td><%= instructor.bio %></td>
      <td><%= instructor.class_time %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<% if current_user && current_user.admin %>
    <%= link_to 'New Instructor', new_instructor_path, class: 'btn btn-info' %>
<% end %>
