<div class="instructor-profile">
  <div class="profile row">
    <div class="col-md-4 avatar">
      <div class="wrapper">
        <%= link_to image_tag("favicon.ico", size: "200x200", alt: "logo"), root_path %>
      </div>
    </div>

    <div class="col-md-8 basic-info">
      <div class="instructor-wrapper">
        <h3 class="name"> <%= @instructor.name %></h3>

      </div>

    </div>
  </div>
</div>
