<% if @user.admin %>
	<h5>ADMIN DASHBOARD</h5>
<% end %>

<p>Signed in as  <%= @user.email %></p>

<p><%= link_to "Browse lessons", lessons_path %></p>

<br>
Booked lessons:
<ul>
<% @user.bookings.each do |booking| %>
	<li><%= booking.lesson.title %> with <%= booking.lesson.instructor %> </li>
<% end %>
</ul>
