<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_tag("/sections/#{@section.id}/skills", method: "post") do %>
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <%= hidden_field_tag :section_id, @section.id %>
        Skill Name: <input name="[skill]name"><br>
        <%= button_tag "New skill", class: 'btn btn-info' %>
    <% end %>
  </div>
</div>
