<div class="center jumbotron">
  <h2>Book your next lesson right here!</h2>

  <h4>
    Knowledge delivered!
  </h4>

  <%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-lg btn-primary" %>
</div>
