@import "bootstrap-sprockets";
@import "bootstrap";
@import 'bootstrap/theme';

body {
  padding-top: 60px;
  font-family: Arvo;
}
footer {
  margin-top: 100px;
}
table, td, th {
  vertical-align: middle; border: none;
}
th {
  border-bottom: 1px solid #DDD;
}
td {
  padding: 8px;
}
#welcome {
  text-align: center;
  color: blue;
  background-image: url(/assets/kaylee-garrett-yoga-lesson.jpg)
}
