.profile {
  .wrapper{
    width: 140px;
    height: 140px;
    margin: 40px auto;
  }
}

.profile .basic-info{
  padding: 40px 0;
  .instructor-wrapper{
    display: flex;
  }
  .name{
    font-size: 15px;
    font-weight: 600;
  }
}
